//
// Tailles
//

$size-variant: (
        "xs": (
                "size-unit": 1px,
                "font-size-unit": 1.4rem,
                "line-height-unit": 1.2,
        ),
        "md": (
                "size-unit": 2px,
                "font-size-unit": 1.5rem,
                "line-height-unit": 1.5,
        ),
        "xl": (
                "size-unit": 3px,
                "font-size-unit": 1.6rem,
                "line-height-unit": 2,
        )
);

@mixin apply-size-variant($variant) {
  $size-unit: map-get(map-get($size-variant, $variant), "size-unit");
  --size-xs: #{$size-unit * 2};
  --size-sm: #{$size-unit * 4};
  --size-md: #{$size-unit * 8};
  --size-lg: #{$size-unit * 16};
  --size-xl: #{$size-unit * 32};
  $font-size-unit: map-get(map-get($size-variant, $variant), "font-size-unit");
  --font-size-md: #{$font-size-unit};
  --font-size-lg: #{$font-size-unit + 0.8};
  $line-height-unit: map-get(map-get($size-variant, $variant), "line-height");
  --line-height-md: #{$line-height-unit};
  --line-height-lg: #{$line-height-unit + 0.8};
}

//
// Polices
//

@font-face {
  font-family: "Montserrat";
  src: url("/public/fonts/Montserrat-VariableFont_wght.woff2") format("woff2"),
  url("/public/fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-display: swap;
}

%font-prominent {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-lg);
  font-weight: 900;
}

%font-regular {
  font-family: "Lato", sans-serif;
  font-size: var(--font-size-md);
  font-weight: 400;
}

//
// Couleurs
//

// couleurs issue des icônes Tango
$color-orange-3: #ce5c00;
$color-chocolate-1: #e9b96e;
$color-sky-blue-1: #729fcf;
$color-sky-blue-2: #3465a4;
$color-chameleon-2: #73d216;
$color-scarlet-red-2: #cc0000;
$color-snowy-white: #ffffff;
$color-aluminium-1: #eeeeec;
$color-aluminium-2: #d3d7cf;
$color-aluminium-3: #babdb6;
$color-aluminium-4: #888a85;
$color-aluminium-5: #555753;
$color-aluminium-6: #2e3436;
$color-jet-black: #000000;

%theme-light {
  --color-text: #{$color-aluminium-6};
  --color-text-highlight: #{$color-sky-blue-2};
  --color-background: #{$color-aluminium-1};
  --color-background-overlay: #{$color-aluminium-5};
  --color-background-global: #{$color-snowy-white};
  --color-background-specific: #{$color-snowy-white};
  --color-background-highlight: #{$color-chocolate-1};
  --color-text-error: white;
  --color-text-success: white;
  --color-background-error: #{$color-scarlet-red-2};
  --color-background-succes: #{$color-chameleon-2};
}

%theme-dark {
  --color-text: #{$color-aluminium-1};
  --color-text-highlight: #{$color-sky-blue-1};
  --color-background: #{$color-jet-black};
  --color-background-overlay: #{$color-aluminium-5};
  --color-background-global: #{$color-aluminium-6};
  --color-background-specific: #{$color-aluminium-6};
  --color-background-highlight: #{$color-orange-3};
  --color-text-error: white;
  --color-text-success: white;
  --color-background-error: #{$color-scarlet-red-2};
  --color-background-succes: #{$color-chameleon-2};
}

@mixin color($tag: "base") {
  color: var(--color-text);

  @if ($tag == "transparant") {
    background-color: #ffffff00;
  } @else if ($tag == "overlay") {
    background-color: var(--color-background-overlay);
  } @else if ($tag == "global") {
    background-color: var(--color-background-global);
  } @else if ($tag == "specific") {
    background-color: var(--color-background-specific);
  } @else if ($tag == "highlight") {
    background-color: var(--color-background-highlight);
  } @else {
    background-color: var(--color-background);
  }
}

@mixin layout($flow, $gap: 0) {
  @if ($flow == "horizontal") {
    display: flex;
    flex-flow: row nowrap;
    gap: #{$gap};
  }

  @if ($flow == "vertical") {
    display: flex;
    flex-flow: column nowrap;
    gap: #{$gap};
  }
}

@mixin subLayout {
  &-h {
    @include layout("horizontal", var(--size-xs));
  }

  &-v {
    @include layout("vertical", var(--size-xs));
  }

  &-r {
    justify-content: right;
  }
}

@mixin focus-active-outline {
  &:focus,
  &:active {
    outline: var(--color-background-highlight) var(--size-xs) solid;
  }
}

%clickable {
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;

  @include focus-active-outline;

  &:hover {
    cursor: pointer;
    background-color: var(--color-background-highlight);
  }
}

:root {
  .size {
    &-xs {
      @include apply-size-variant("xs");
    }

    &-md {
      @include apply-size-variant("md");
    }

    &-xl {
      @include apply-size-variant("xl");
    }
  }

  .theme-light {
    @extend %theme-light;
  }

  .theme-dark {
    @extend %theme-dark;
  }
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  @include color();
  @extend %font-regular;

  cursor: default;

  line-height: 1.2;

  background: linear-gradient(
                  90deg,
                  var(--color-background) 5%,
                  var(--color-background-highlight) 30%,
                  var(--color-background-highlight) 70%,
                  var(--color-background) 95%);

  > div {
    @include layout("vertical");
    @include color();

    min-width: 360px;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
  }
}

header,
footer {
  @include color("global");

  width: 100%;
  margin: var(--size-lg) auto;
}

main {
  @include layout("horizontal", var(--size-md));
  margin: 0 auto;

  position: relative;
  z-index: 0;

  width: 100%;
  flex: 1;
}

.content {
  @include color();
  @include layout("vertical", var(--size-md));

  width: 100%;

  &__subcontent {
    @include color("specific");
  }

  h2 {
    &.prominent__text {
      margin-left: var(--size-xl);
    }
  }
}

.menu {
  @include layout("vertical", var(--size-xs));
  padding: var(--size-xs);

  &__submenu {
    @include subLayout;
  }

  &-hamburger {
    @include color("overlay");

    .menu__submenu {
      @include layout("vertical", var(--size-xs));

      &-close {
        @include color("overlay");

        .clickable {
          margin-left: auto;
          align-self: revert;
        }
      }
    }

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;

    width: max-content;
    height: max-content;
  }

  &-tiny {
    @include color("overlay");

    .menu__submenu {
      @include layout("vertical", var(--size-xs));
    }

    position: fixed;
    top: 25vh;
    right: 0;
    z-index: 500;

    width: max-content;
    height: max-content;
  }

  &-info {
    @include color("global");

    width: 100%;

    .menu__submenu {
      @include layout("horizontal", var(--size-xs));
    }
  }

  &__submenu {
    @include color("global");
  }

  &__item {
    &-clickable {
      @extend %clickable;
    }
  }
}

.form {
  @include layout("vertical", var(--size-xs));
  align-items: center;

  padding: var(--size-xl);

  input {
    @include focus-active-outline;
  }

  &__subform {
    @include subLayout;
  }

  &__subform {
    @include color("specific");
  }

  &__item {
    &-clickable {
      @extend %clickable;
    }
  }
}

.prominent {
  @include layout("horizontal");
  justify-content: right;

  &-error {
    color: var(--color-text-error);
    background-color: var(--color-background-error);
  }

  &-success {
    color: var(--color-text-success);
    background-color: var(--color-background-succes);
  }

  &__text {
    @extend %font-prominent;

    width: max-content;
    height: var(--size-xl);
    line-height: var(--size-xl);

    margin-right: auto;
    padding-left: var(--size-md);
    padding-right: var(--size-md);
  }

  &__icon {
    width: var(--size-xl);
    height: var(--size-xl);

    margin-left: var(--size-xs);
    margin-right: var(--size-xs);

    display: inline-block;

    background-image: url("../img/icons-tango-scalable/status/image-missing.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.regular {
  margin: var(--size-lg);

  &__text {
    @extend %font-regular;

    line-height: var(--line-height-md);

    &:not(:first-of-type) {
      margin-top: var(--size-sm);
    }
  }
}

.anchor {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: var(--color-text-highlight);
  }
}

.hide {
  display: none;
}

@media screen and (min-width: 810px) {
  main {
    padding-left: var(--size-md);
    padding-right: var(--size-md);
  }

  .button-menu-tiny {
    display: none;
  }

  .menu {
    &-tiny {
      &.hide {
        display: flex;
      }

      @include color();

      .menu__submenu {
        @include color();
      }

      position: sticky;
      top: 25vh;
    }
  }
}

@media screen and (min-width: 1440px) {
  header {
    &.menu {
      @include layout("horizontal");
    }

    > div:first-child {
      width: max-content;
    }

    .button-menu-hamburger {
      display: none;
    }
  }

  main {
    display: flex;
    gap: var(--size-md);
  }

  .content {
    width: 100% - var(--size-xl);
  }

  .menu {
    &-hamburger {
      &.hide {
        display: flex;
      }

      @include color();

      position: static;

      .menu__submenu {
        &-close {
          display: none;
        }
      }

      .button-menu-tiny {
        display: none;
      }
    }
  }
}
