@font-face {
  font-family: "Montserrat";
  src: url("/public/fonts/Montserrat-VariableFont_wght.woff2") format("woff2"), url("/public/fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-display: swap;
}
.prominent__text {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-lg);
  font-weight: 900;
}

.regular__text, body {
  font-family: "Lato", sans-serif;
  font-size: var(--font-size-md);
  font-weight: 400;
}

:root .theme-light {
  --color-text: #2e3436;
  --color-text-highlight: #3465a4;
  --color-background: #eeeeec;
  --color-background-overlay: #555753;
  --color-background-global: #ffffff;
  --color-background-specific: #ffffff;
  --color-background-highlight: #e9b96e;
}

:root .theme-dark {
  --color-text: #eeeeec;
  --color-text-highlight: #729fcf;
  --color-background: #000000;
  --color-background-overlay: #555753;
  --color-background-global: #2e3436;
  --color-background-specific: #2e3436;
  --color-background-highlight: #ce5c00;
}

.form__item-clickable, .menu__item-clickable {
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}
.form__item-clickable:focus, .menu__item-clickable:focus, .form__item-clickable:active, .menu__item-clickable:active {
  outline: var(--color-background-highlight) var(--size-xs) solid;
}
.form__item-clickable:hover, .menu__item-clickable:hover {
  cursor: pointer;
  background-color: var(--color-background-highlight);
}

:root .size-xs {
  --size-xs: 2px;
  --size-sm: 4px;
  --size-md: 8px;
  --size-lg: 16px;
  --size-xl: 32px;
  --font-size-md: 1.4rem;
  --font-size-lg: 2.2rem;
  --line-height-md: ;
  --line-height-lg: 0.8;
}
:root .size-md {
  --size-xs: 4px;
  --size-sm: 8px;
  --size-md: 16px;
  --size-lg: 32px;
  --size-xl: 64px;
  --font-size-md: 1.5rem;
  --font-size-lg: 2.3rem;
  --line-height-md: ;
  --line-height-lg: 0.8;
}
:root .size-xl {
  --size-xs: 6px;
  --size-sm: 12px;
  --size-md: 24px;
  --size-lg: 48px;
  --size-xl: 96px;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.4rem;
  --line-height-md: ;
  --line-height-lg: 0.8;
}
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  cursor: default;
  line-height: 1.2;
  background: linear-gradient(90deg, var(--color-background) 5%, var(--color-background-highlight) 30%, var(--color-background-highlight) 70%, var(--color-background) 95%);
}
body > div {
  display: flex;
  flex-flow: column nowrap;
  gap: 0;
  color: var(--color-text);
  background-color: var(--color-background);
  min-width: 360px;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

header,
footer {
  color: var(--color-text);
  background-color: var(--color-background-global);
  width: 100%;
  margin: var(--size-lg) auto;
}

main {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--size-md);
  margin: 0 auto;
  position: relative;
  z-index: 0;
  width: 100%;
  flex: 1;
}

.content {
  color: var(--color-text);
  background-color: var(--color-background);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--size-md);
  width: 100%;
}
.content__subcontent {
  color: var(--color-text);
  background-color: var(--color-background-specific);
}
.content h2.prominent__text {
  margin-left: var(--size-xl);
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--size-xs);
  padding: var(--size-xs);
}
.menu__submenu-h {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--size-xs);
}
.menu__submenu-v {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--size-xs);
}
.menu__submenu-r {
  justify-content: right;
}
.menu-hamburger {
  color: var(--color-text);
  background-color: var(--color-background-overlay);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: max-content;
  height: max-content;
}
.menu-hamburger .menu__submenu {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--size-xs);
}
.menu-hamburger .menu__submenu-close {
  color: var(--color-text);
  background-color: var(--color-background-overlay);
}
.menu-hamburger .menu__submenu-close .clickable {
  margin-left: auto;
  align-self: revert;
}
.menu-tiny {
  color: var(--color-text);
  background-color: var(--color-background-overlay);
  position: fixed;
  top: 25vh;
  right: 0;
  z-index: 500;
  width: max-content;
  height: max-content;
}
.menu-tiny .menu__submenu {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--size-xs);
}
.menu-info {
  color: var(--color-text);
  background-color: var(--color-background-global);
  width: 100%;
}
.menu-info .menu__submenu {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--size-xs);
}
.menu__submenu {
  color: var(--color-text);
  background-color: var(--color-background-global);
}
.form {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--size-xs);
  align-items: center;
  padding: var(--size-xl);
}
.form input:focus, .form input:active {
  outline: var(--color-background-highlight) var(--size-xs) solid;
}
.form__subform-h {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--size-xs);
}
.form__subform-v {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--size-xs);
}
.form__subform-r {
  justify-content: right;
}
.form__subform {
  color: var(--color-text);
  background-color: var(--color-background-specific);
}
.prominent {
  display: flex;
  flex-flow: row nowrap;
  gap: 0;
  justify-content: right;
}
.prominent__text {
  width: max-content;
  height: var(--size-xl);
  line-height: var(--size-xl);
  margin-right: auto;
  padding-left: var(--size-md);
  padding-right: var(--size-md);
}
.prominent__icon {
  width: var(--size-xl);
  height: var(--size-xl);
  margin-left: var(--size-xs);
  margin-right: var(--size-xs);
  background-image: url("../img/icons-tango-scalable/status/image-missing.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.regular {
  margin: var(--size-lg);
}
.regular__text {
  line-height: var(--line-height-md);
}
.regular__text:not(:first-of-type) {
  margin-top: var(--size-sm);
}

.anchor {
  cursor: pointer;
  text-decoration: underline;
}
.anchor:hover {
  color: var(--color-text-highlight);
}

.hide {
  display: none;
}

@media screen and (min-width: 810px) {
  main {
    padding-left: var(--size-md);
    padding-right: var(--size-md);
  }
  .button-menu-tiny {
    display: none;
  }
  .menu-tiny {
    color: var(--color-text);
    background-color: var(--color-background);
    position: sticky;
    top: 25vh;
  }
  .menu-tiny.hide {
    display: flex;
  }
  .menu-tiny .menu__submenu {
    color: var(--color-text);
    background-color: var(--color-background);
  }
}
@media screen and (min-width: 1440px) {
  header.menu {
    display: flex;
    flex-flow: row nowrap;
    gap: 0;
  }
  header > div:first-child {
    width: max-content;
  }
  header .button-menu-hamburger {
    display: none;
  }
  main {
    display: flex;
    gap: var(--size-md);
  }
  .content {
    width: 100%-var(--size-xl);
  }
  .menu-hamburger {
    color: var(--color-text);
    background-color: var(--color-background);
    position: static;
  }
  .menu-hamburger.hide {
    display: flex;
  }
  .menu-hamburger .menu__submenu-close {
    display: none;
  }
  .menu-hamburger .button-menu-tiny {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
